<form role="form" class="form-horizontal">
    <div class="form-group">
        <label for="username" class="control-label col-sm-2">username:</label>
        <div class="col-sm-5">
            <input id="username" type="text" class="form-control" ng-model="username" placeholder="New username"/>
        </div>
    </div>
    <div class="form-group">
        <label for="x" class="control-label col-sm-2">X pos:</label>
        <div class="col-sm-5">
            <input id="x" type="text" ng-model="x" class="form-control" disabled/>
        </div>
    </div>
    <div class="form-group">
        <label for="x" class="control-label col-sm-2">X pos:</label>
        <div class="col-sm-5">
            <input id="x" type="text" ng-model="x" class="form-control" disabled/>
        </div>
    </div>
    <button type="submit" ng-click="save()" class="btn btn-default">Save</button>
</form>
