
<td style="width: 40%;">
    <!--<img src="{{gravatarUrl}}" alt="">-->
    <img src="http://bootdey.com/img/Content/user_1.jpg" alt="">
    <a ng-click="displayUser(user.Id)" class="user-link">{{user.Username}}</a>
    <span class="user-subhead">{{user.Team}}</span>
</td>
<td style="width: 10%;">{{position.X}}</td>
<td style="width: 10%;">{{position.Y}}</td>
<td>
    <a class="table-link" ng-click="displayUser(user.Id)" title="Edit">
        <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
        </span>
    </a>
    <a class="table-link green delete" ng-click="aim()" title="Aim at">
        <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-hand-o-up fa-stack-1x fa-inverse"></i>
        </span>
    </a>
    <a class="table-link warning delete" ng-click="fire()" title="Fire">
        <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
        </span>
    </a>
    <a class="table-link danger delete" ng-click="delete()" title="delete">
        <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</td>
