article {
    margin-top: 20px;
}

#logo {
padding-left:3px;
}
.venueName{
    margin-top:6px;
}
.venueIcon{
    margin-left:-7px;
}

.photoCaption{
    margin-bottom:15px;
}

.pagination a {
 cursor: pointer;
}
.seperator{
    margin:3px 0 6px 0;
}

.useritem>li {
    float: none;
}

strong {
    margin-right: 10px;
}


.ng-hide-add, .ng-hide-remove {
    display: block !important; 
}

.cssSlideUp {
    -webkit-transition: .3s linear all;
    -moz-transition: .3s linear all;
    -ms-transition: .3s linear all;
    -o-transition: .3s linear all;
    transition: .3s linear all;
    overflow: hidden;
    height: 120px;
}

.cssSlideUp.ng-hide {
    height:0;
}
